@model MailSender.Models.Domains.EmailParams
@{
    ViewBag.Title = "Dodawanie parametrów e-mail";
}

<h1 class="text-center mb-2">Parametry e-mail</h1>

@using (Html.BeginForm("EmailParams", "Home", FormMethod.Post))
{
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-lg-4 border border-opacity-75 p-3 mt-4">

            @Html.ValidationSummary()

            @Html.HiddenFor(m => m.User, new { @class = "col-md-6 col-form-label label-bold" })
            @Html.HiddenFor(m => m.UserId, new { @class = "col-md-2 col-form-label" })

            <div class="row">
                @Html.LabelFor(m => m.Port, new { @class = "col-md-6 col-form-label label-bold" })
                @Html.TextBoxFor(m => m.Port, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Port)
            </div>
            <div class="row">
                @Html.LabelFor(m => m.HostSmtp, new { @class = "col-md-6 col-form-label label-bold" })
                @Html.TextBoxFor(m => m.HostSmtp, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.HostSmtp)
            </div>
            <div class="row">
                @Html.LabelFor(m => m.SenderEmail, new { @class = "col-md-6 col-form-label label-bold" })
                @Html.TextBoxFor(m => m.SenderEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.SenderEmail)
            </div>
            <div class="row">
                @Html.LabelFor(m => m.SenderEmailPassword, new { @class = "col-md-6 col-form-label label-bold" })
                @Html.PasswordFor(m => m.SenderEmailPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.SenderEmailPassword)
            </div>
            <div class="row">
                @Html.LabelFor(m => m.SenderName, new { @class = "col-md-6 col-form-label label-bold" })
                @Html.TextBoxFor(m => m.SenderName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.SenderName)
            </div>

            <div class="row">
                <div class="col-md-10 mt-2">
                    <input type="submit" value="Zapisz" class="btn btn-success" />
                    <button class="btn btn btn-danger" onclick='window.location.href="@Url.Action("Index", "Home")"'>Anuluj</button>
                </div>
            </div>
        </div>
    </div>
}